<h1>Posts#index</h1>

<% @posts.each do |post| %>

    <div class="blog-post">
      <h2 class="blog-post-title"><%= link_to post.title, post %></h2>

      <p><%= simple_format(truncate(post.body, length: 100))%></p>

      <%= link_to 'Show', post %>
    </div>
<% end %>